<div class="relative flex h-screen w-full items-center justify-center">
  <div class="relative h-screen w-full bg-black">
    <div
      class="animate-twinkle-1 absolute left-[13%] top-[3%] h-[5px] w-[5px] rounded-full bg-white"
    ></div>
    <div
      class="animate-twinkle-2 absolute left-[38%] top-[15%] h-[4px] w-[4px] rounded-full bg-white"
    ></div>
    <div
      class="animate-twinkle-3 absolute left-[78%] top-[25%] h-[6px] w-[6px] rounded-full bg-white"
    ></div>
    <div
      class="animate-twinkle-4 absolute left-[23%] top-[40%] h-[7px] w-[7px] rounded-full bg-white"
    ></div>
    <div
      class="animate-twinkle-5 absolute left-[58%] top-[60%] h-[3px] w-[3px] rounded-full bg-white"
    ></div>
    <div
      class="animate-twinkle-2 absolute left-[8%] top-[75%] h-[5px] w-[5px] rounded-full bg-white"
    ></div>
    <div
      class="animate-twinkle-4 absolute left-[63%] top-[85%] h-[4px] w-[4px] rounded-full bg-white"
    ></div>
    <div
      class="animate-twinkle-1 absolute left-[83%] top-[10%] h-[6px] w-[6px] rounded-full bg-white"
    ></div>
    <div
      class="animate-twinkle-3 absolute left-[93%] top-[50%] h-[3px] w-[3px] rounded-full bg-white"
    ></div>
    <div
      class="animate-twinkle-2 absolute left-[43%] top-[90%] h-[5px] w-[5px] rounded-full bg-white"
    ></div>
    <div
      class="animate-twinkle-4 absolute left-[18%] top-[30%] h-[6px] w-[6px] rounded-full bg-white"
    ></div>
    <div
      class="animate-twinkle-5 absolute left-[33%] top-[70%] h-[4px] w-[4px] rounded-full bg-white"
    ></div>
    <div
      class="animate-twinkle-1 absolute left-[73%] top-[5%] h-[5px] w-[5px] rounded-full bg-white"
    ></div>
    <div
      class="animate-twinkle-3 absolute left-[88%] top-[20%] h-[3px] w-[3px] rounded-full bg-white"
    ></div>
    <div
      class="animate-twinkle-2 absolute left-[13%] top-[70%] h-[6px] w-[6px] rounded-full bg-white"
    ></div>
    <div
      class="animate-twinkle-5 absolute left-[83%] top-[60%] h-[5px] w-[5px] rounded-full bg-white"
    ></div>
    <div
      class="animate-twinkle-1 absolute left-[23%] top-[15%] h-[4px] w-[4px] rounded-full bg-white"
    ></div>
    <div
      class="animate-twinkle-3 absolute left-[68%] top-[25%] h-[5px] w-[5px] rounded-full bg-white"
    ></div>
    <div
      class="animate-twinkle-4 absolute left-[58%] top-[40%] h-[3px] w-[3px] rounded-full bg-white"
    ></div>
    <div
      class="animate-twinkle-5 absolute left-[33%] top-[80%] h-[4px] w-[4px] rounded-full bg-white"
    ></div>
    <div
      class="animate-twinkle-1 absolute left-[78%] top-[5%] h-[6px] w-[6px] rounded-full bg-white"
    ></div>
    <div
      class="animate-twinkle-2 absolute left-[13%] top-[90%] h-[3px] w-[3px] rounded-full bg-white"
    ></div>
    <div
      class="animate-twinkle-3 absolute left-[83%] top-[45%] h-[5px] w-[5px] rounded-full bg-white"
    ></div>
    <div
      class="animate-twinkle-4 absolute left-[48%] top-[70%] h-[4px] w-[4px] rounded-full bg-white"
    ></div>
    <div
      class="animate-twinkle-5 absolute left-[58%] top-[10%] h-[6px] w-[6px] rounded-full bg-white"
    ></div>
    <div
      class="animate-twinkle-1 absolute left-[38%] top-[15%] h-[4px] w-[4px] rounded-full bg-white"
    ></div>
    <div
      class="animate-twinkle-2 absolute left-[53%] top-[60%] h-[5px] w-[5px] rounded-full bg-white"
    ></div>
    <div
      class="animate-twinkle-3 absolute left-[73%] top-[85%] h-[4px] w-[4px] rounded-full bg-white"
    ></div>
    <div
      class="animate-twinkle-4 absolute left-[18%] top-[30%] h-[5px] w-[5px] rounded-full bg-white"
    ></div>
    <div
      class="animate-twinkle-5 absolute left-[68%] top-[90%] h-[3px] w-[3px] rounded-full bg-white"
    ></div>
    <div
      class="animate-twinkle-2 absolute left-[88%] top-[90%] h-[4px] w-[4px] rounded-full bg-white"
    ></div>
    <div
      class="animate-twinkle-4 absolute left-[93%] top-[75%] h-[5px] w-[5px] rounded-full bg-white"
    ></div>
    <div
      class="animate-twinkle-1 absolute left-[93%] top-[5%] h-[6px] w-[6px] rounded-full bg-white"
    ></div>
    <div
      class="animate-twinkle-3 absolute left-[8%] top-[10%] h-[4px] w-[4px] rounded-full bg-white"
    ></div>
    <div
      class="animate-twinkle-5 absolute left-[18%] top-[20%] h-[5px] w-[5px] rounded-full bg-white"
    ></div>
    <div
      class="animate-twinkle-1 absolute left-[5%] top-[50%] h-[6px] w-[6px] rounded-full bg-white"
    ></div>
    <div
      class="animate-twinkle-3 absolute left-[8%] top-[40%] h-[4px] w-[4px] rounded-full bg-white"
    ></div>
    <div
      class="animate-twinkle-5 absolute left-[7%] top-[25%] h-[5px] w-[5px] rounded-full bg-white"
    ></div>
  </div>
  <div class="absolute flex flex-col items-center justify-center">
    <img src="assets/svg/logo-star-wars.svg" alt="" />
    <button
      class="group relative grid overflow-hidden rounded-full px-6 py-2 shadow-[0_1000px_0_0_hsl(0_0%_20%)_inset] transition-colors duration-200"
    >
      <span>
        <span
          class="spark mask-gradient animate-flip before:animate-rotate absolute inset-0 h-[100%] w-[100%] overflow-hidden rounded-full [mask:linear-gradient(white,_transparent_50%)] before:absolute before:aspect-square before:w-[200%] before:rotate-[-90deg] before:bg-[conic-gradient(from_0deg,transparent_0_340deg,white_360deg)] before:content-[''] before:[inset:0_auto_auto_50%] before:[translate:-50%_-15%]"
        ></span>
      </span>
      <span
        class="backdrop absolute inset-[1px] rounded-full bg-black transition-colors duration-200 group-hover:bg-slate-800"
      ></span>
      <span class="z-10 text-white font-semibold text-lg">May The Force Be With You</span>
    </button>
  </div>
</div>
