<div class="bg-template">
  <div
    class="absolute left-[13%] top-[3%] h-[5px] w-[5px] animate-twinkle-1 rounded-full bg-white"
  ></div>
  <div
    class="absolute left-[38%] top-[15%] h-[4px] w-[4px] animate-twinkle-2 rounded-full bg-white"
  ></div>
  <div
    class="absolute left-[78%] top-[25%] h-[6px] w-[6px] animate-twinkle-3 rounded-full bg-white"
  ></div>
  <div
    class="absolute left-[23%] top-[40%] h-[7px] w-[7px] animate-twinkle-4 rounded-full bg-white"
  ></div>
  <div
    class="absolute left-[58%] top-[60%] h-[3px] w-[3px] animate-twinkle-5 rounded-full bg-white"
  ></div>
  <div
    class="absolute left-[8%] top-[75%] h-[5px] w-[5px] animate-twinkle-2 rounded-full bg-white"
  ></div>
  <div
    class="absolute left-[63%] top-[85%] h-[4px] w-[4px] animate-twinkle-4 rounded-full bg-white"
  ></div>
  <div
    class="absolute left-[83%] top-[10%] h-[6px] w-[6px] animate-twinkle-1 rounded-full bg-white"
  ></div>
  <div
    class="absolute left-[93%] top-[50%] h-[3px] w-[3px] animate-twinkle-3 rounded-full bg-white"
  ></div>
  <div
    class="absolute left-[43%] top-[90%] h-[5px] w-[5px] animate-twinkle-2 rounded-full bg-white"
  ></div>
  <div
    class="absolute left-[18%] top-[30%] h-[6px] w-[6px] animate-twinkle-4 rounded-full bg-white"
  ></div>
  <div
    class="absolute left-[33%] top-[70%] h-[4px] w-[4px] animate-twinkle-5 rounded-full bg-white"
  ></div>
  <div
    class="absolute left-[73%] top-[5%] h-[5px] w-[5px] animate-twinkle-1 rounded-full bg-white"
  ></div>
  <div
    class="absolute left-[88%] top-[20%] h-[3px] w-[3px] animate-twinkle-3 rounded-full bg-white"
  ></div>
  <div
    class="absolute left-[13%] top-[70%] h-[6px] w-[6px] animate-twinkle-2 rounded-full bg-white"
  ></div>
  <div
    class="absolute left-[83%] top-[60%] h-[5px] w-[5px] animate-twinkle-5 rounded-full bg-white"
  ></div>
  <div
    class="absolute left-[23%] top-[15%] h-[4px] w-[4px] animate-twinkle-1 rounded-full bg-white"
  ></div>
  <div
    class="absolute left-[68%] top-[25%] h-[5px] w-[5px] animate-twinkle-3 rounded-full bg-white"
  ></div>
  <div
    class="absolute left-[58%] top-[40%] h-[3px] w-[3px] animate-twinkle-4 rounded-full bg-white"
  ></div>
  <div
    class="absolute left-[33%] top-[80%] h-[4px] w-[4px] animate-twinkle-5 rounded-full bg-white"
  ></div>
  <div
    class="absolute left-[78%] top-[5%] h-[6px] w-[6px] animate-twinkle-1 rounded-full bg-white"
  ></div>
  <div
    class="absolute left-[13%] top-[90%] h-[3px] w-[3px] animate-twinkle-2 rounded-full bg-white"
  ></div>
  <div
    class="absolute left-[83%] top-[45%] h-[5px] w-[5px] animate-twinkle-3 rounded-full bg-white"
  ></div>
  <div
    class="absolute left-[48%] top-[70%] h-[4px] w-[4px] animate-twinkle-4 rounded-full bg-white"
  ></div>
  <div
    class="absolute left-[58%] top-[10%] h-[6px] w-[6px] animate-twinkle-5 rounded-full bg-white"
  ></div>
  <div
    class="absolute left-[38%] top-[15%] h-[4px] w-[4px] animate-twinkle-1 rounded-full bg-white"
  ></div>
  <div
    class="absolute left-[53%] top-[60%] h-[5px] w-[5px] animate-twinkle-2 rounded-full bg-white"
  ></div>
  <div
    class="absolute left-[73%] top-[85%] h-[4px] w-[4px] animate-twinkle-3 rounded-full bg-white"
  ></div>
  <div
    class="absolute left-[18%] top-[30%] h-[5px] w-[5px] animate-twinkle-4 rounded-full bg-white"
  ></div>
  <div
    class="absolute left-[68%] top-[90%] h-[3px] w-[3px] animate-twinkle-5 rounded-full bg-white"
  ></div>
  <div
    class="absolute left-[88%] top-[90%] h-[4px] w-[4px] animate-twinkle-2 rounded-full bg-white"
  ></div>
  <div
    class="absolute left-[93%] top-[75%] h-[5px] w-[5px] animate-twinkle-4 rounded-full bg-white"
  ></div>
  <div
    class="absolute left-[93%] top-[5%] h-[6px] w-[6px] animate-twinkle-1 rounded-full bg-white"
  ></div>
  <div
    class="absolute left-[8%] top-[10%] h-[4px] w-[4px] animate-twinkle-3 rounded-full bg-white"
  ></div>
  <div
    class="absolute left-[18%] top-[20%] h-[5px] w-[5px] animate-twinkle-5 rounded-full bg-white"
  ></div>
  <div
    class="absolute left-[5%] top-[50%] h-[6px] w-[6px] animate-twinkle-1 rounded-full bg-white"
  ></div>
  <div
    class="absolute left-[8%] top-[40%] h-[4px] w-[4px] animate-twinkle-3 rounded-full bg-white"
  ></div>
  <div
    class="absolute left-[7%] top-[25%] h-[5px] w-[5px] animate-twinkle-5 rounded-full bg-white"
  ></div>
</div>
